<style>

    ul.nav-pills {
        padding-top: 5vh;
        position: fixed;
    }
    .nav-link{
        color: #f44336;
    }
    .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #f44336;
}
</style>


<div class="container-fluid">
    <div class="row">
        
        <nav class="col-sm-3 col-4" id="myScrollspy" style="border-right-style:solid;">
            <ul class="nav nav-pills flex-column">
                <p class="display-4 mx-auto"> Menu </p>
                <li class="nav-item">
                    <a class="nav-link active" href="#section1">Initiatives You Have Volunteered In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section2">Initiatives added by you</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section3">People volunteering in your Initiative</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section4">Events added by you</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#section5">Account Settings</a>
                </li>
            </ul>
        </nav>
        <div class="col-sm-9 col-8">
            <div id="section1" style="padding-bottom:3vh;">
                <h1 class="display-4 mx-auto text-center" >Initiatives you have volunteered in</h1>
                @if(ViewBag.uvlist.Count == 0)
                {
                    <p class="lead text-center" style="padding-top:3vh;">You havent volunteered in any Initiative. Visit the Initiatives page to volunteer now.</p>
                }
                @foreach (Initiative i in ViewBag.uvlist)
                {
                    <div class="card" style="margin-right:5vw;">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <img src="@i.filepath" class="img-fluid" alt="" style="width:10vw;">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title"><lead>@i.InitiativeName</lead></h4>
                                    <p class="card-text">
                                        <b>What do we do:</b><br />
                                        @i.work <br />
                                        <b>Who do we work with: </b><br />
                                        @i.team<br />
                                        <b>Where do we work:</b><br />
                                        @i.InitiativeAddress<br />
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer w-100 text-muted">
                            <p>
                                Contact Info:<br />
                                @if (i.phoneNumber != null)
                                {
                                    string j = "Phone Number:" + i.phoneNumber;
                                    @j;
                                    <br />
                                }
                                @if (i.instagramLink != null)
                                {
                                    string j = "Instagram: " + i.instagramLink;
                                    @j;
                                    <br />
                                }
                                @if (i.websiteLink != null)
                                {
                                    string j = "Website: " + i.websiteLink;
                                    @j;
                                    <br />
                                }
                                @if (i.User.Email != null)
                                {
                                    string j = "User Email: " + i.User.Email;
                                    @j;
                                    <br />
                                }
                            </p>

                        </div>
                    </div>
                }
            </div>

            <div id="section2" style="padding-top:3vh; padding-bottom:3vh;">
                <h1 class="display-4 text-center">Initiatives Added By You</h1>
                @foreach (Initiative t in ViewBag.Initiatives)
                {

                    
                    <div style="padding-top:4vh;">
                        <div class="card mx-auto" style="padding-top:1vh;">
                            <div class="row no-gutters">
                                <div class="col-auto" style="padding-top:2vh; padding-left:2vh;">
                                    <img src="@t.filepath" class="img-fluid" alt="" style="width:10vw;">
                                </div>
                                <div class="col" style="padding-bottom:2vh;">
                                    <div class="card-block px-2">
                                        <h4 class="card-title"><lead>@t.InitiativeName</lead></h4>
                                        <p class="card-text">
                                            <b>What do we do:</b><br />
                                            @t.work <br />
                                            <b>Who do we work with: </b><br />
                                            @t.team<br />
                                            <b>Where do we work:</b><br />
                                            @t.InitiativeAddress<br />
                                        </p>
                                       </div>
                                </div>
                            </div>
                            <div class="card-footer w-100 text-muted">
                                    Contact Info:<br />
                                    @if (t.phoneNumber != null)
                                    {
                                        string j = "Phone Number:" + t.phoneNumber;
                                        @j;
                                        <br />
                                    }
                                    @if (t.instagramLink != null)
                                    {
                                        string j = "Instagram: " + t.instagramLink;
                                        @j;
                                        <br />
                                    }
                                    @if (t.websiteLink != null)
                                    {
                                        string j = "Website: " + t.websiteLink;
                                        @j;
                                        <br />
                                    }
                                    @if (t.User.Email != null)
                                    {
                                        string j = "User Email: " + t.User.Email;
                                        @j;
                                        <br />
                                    }

                            </div>
                        </div>

                        </div>
                        
                    
                }
            </div>
            <div id="section3" style="padding-top:3vh; padding-bottom:3vh;">
                <h1 class="display-4 text-center">People volunteering in your Initiative</h1>
                @{
        int count = ViewBag.UserVolunteers.Count;
    }
     <table style="margin-left:2vw; margin-top:2vh;">
         @for(int i = 0; i<count; )
    {
       
            <tr>
                <td>
                    @if(i<count)
                    {
                        <div class="card" style="width: 18rem; margin-left:3vw;">
        <div class="card-body">
            <h5 class="card-title">@ViewBag.UserVolunteers[i].Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@ViewBag.UserVolunteers[i].Email<br/> @ViewBag.UserVolunteers[i].PhoneNumber</h6>
            <p class="card-text">
                <ul>
                    <li>Class : @ViewBag.UserVolunteers[i]._class</li>
                    <li>Section : @ViewBag.UserVolunteers[i].Section</li>
                    <li>House : @ViewBag.UserVolunteers[i].House</li>
                </ul>
                <br />
                
            </p>
        </div>
    </div>

                }
                </td>
                <td>
                    
                    @if((i + 1)<count)
                    {
                    <div class="card" style="width: 18rem; margin-left:3vw;">
        <div class="card-body">
            <h5 class="card-title">@ViewBag.UserVolunteers[++i].Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@ViewBag.UserVolunteers[i].Email <br/> @ViewBag.UserVolunteers[i].PhoneNumber</h6>
            <p class="card-text">
                <ul>
                    <li>Class : @ViewBag.UserVolunteers[i]._class</li>
                    <li>Section : @ViewBag.UserVolunteers[i].Section</li>
                    <li>House : @ViewBag.UserVolunteers[i].House</li>
                </ul>
                <br />
                
            </p>
        </div>
    </div>


                    }
                    
                </td>
                <td>
                    @if((i + 1)<count)
                    {
                        <div class="card" style="width: 18rem; margin-left:3vw;">
        <div class="card-body">
            <h5 class="card-title">@ViewBag.UserVolunteers[i].Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@ViewBag.UserVolunteers[i].Email <br/> @ViewBag.UserVolunteers[i].PhoneNumber</h6>
            <p class="card-text">
                <ul>
                    <li>Class : @ViewBag.UserVolunteers[i]._class</li>
                    <li>Section : @ViewBag.UserVolunteers[i].Section</li>
                    <li>House : @ViewBag.UserVolunteers[i].House</li>
                </ul>
                <br />
                
            </p>
        </div>
    </div>

                    }
                </td>
                <td>
                    @if((i + 1)<count)
                    {
                        <div class="card" style="width: 18rem; margin-left:3vw;">
        <div class="card-body">
            <h5 class="card-title">@ViewBag.UserVolunteers[i].Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@ViewBag.UserVolunteers[i].Email <br/> @ViewBag.UserVolunteers[i].PhoneNumber</h6>
            <p class="card-text">
                <ul>
                    <li>Class : @ViewBag.UserVolunteers[i]._class</li>
                    <li>Section : @ViewBag.UserVolunteers[i].Section</li>
                    <li>House : @ViewBag.UserVolunteers[i].House</li>
                </ul>
                <br />
                
            </p>
        </div>
    </div>

                    }
                </td>
            </tr>
            i++;
            
    }
     </table>
     </div>
            <div id="section4" style="padding-top:3vh; padding-bottom:3vh;">
                <h1 class="display-4 mx-auto text-center">Events Added By You</h1>
               @{
      count = ViewBag.Events.Count;
    }
     <table class="mx-auto">
         @for(int i = 0; i<count; )
    {
       
            <tr>
                <td>
                    @if(i<count)
                    {<div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@ViewBag.Events[i].Subject</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@ViewBag.Events[i].Organiser <br/> @ViewBag.Events[i].OrganiserEmail <br/> @ViewBag.Events[i].PhoneNumber</h6>
                            <p class="card-text">@ViewBag.Events[i].Description</p>
                        </div>
                    </div>
                }
                </td>
                <td>
                    
                    @if((i + 1)<count)
                    {
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@ViewBag.Events[++i].Subject</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@ViewBag.Events[i].Organiser <br/> @ViewBag.Events[i].OrganiserEmail <br/> @ViewBag.Events[i].PhoneNumber</h6>
                                <p class="card-text">@ViewBag.Events[i].Description</p>
                            </div>
                        </div>
                    }
                    
                </td>
                <td>
                    @if((i + 1)<count)
                    {
<div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@ViewBag.Events[++i].Subject</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@ViewBag.Events[i].Organiser <br/> @ViewBag.Events[i].OrganiserEmail <br/> @ViewBag.Events[i].PhoneNumber</h6>
                            <p class="card-text">@ViewBag.Events[i].Description</p>
                        </div>
                    </div>
                    }
                </td>
            </tr>
            i++;
            
    }
     </table>
    
            </div>
            
            <div id="section5" style="padding-top:3vh; padding-bottom:3vh;">
                <h1 class="display-4 mx-auto text-center">Account Settings</h1>
                <div class="row">
                    <div class="ml-auto" style="padding-right:1.5vw;"><button class="btn" onclick="location.href='@Url.Action("ChangePasswordV", "Account")'">Change Password</button></div>
                    <div class="mr-auto" style="padding-left:1.5vw"><button class="btn" onclick="location.href='@Url.Action("EditAsync", "Account")'">Edit Account Information</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
