@model InitiativeModel
<link href="~/CustomCSS/init.css" rel="stylesheet"/>
@{
    ViewData["Title"] = "Index";
    const string p = @"style=margin-left:3vw; ";
}
<div class="container-fluid">
    <div class="row" style="padding-top: 3vh;">
        @for (var i = 1; i <= 9; i++)
        {
            var s = "/Images/Initiatives/" + i + ".png";
            <div class="col mx-auto">
                <a href="@Url.Action("Category", "Initiatives", new {id = i})">
                    <img class="Desktop" src="@s"/>
                    <img class="Mobile" src="@s" @(i == 1 || i == 4 || i == 7 ? p : "")/>
                    @{
                        var a = CategoryDict.Categories[i];
                    }
                    <figcaption class="figure-caption font-weight-bold text-center" style="padding-right: 1.5vw;">@a</figcaption>
                </a>
            </div>
        }
    </div>
    <div class="row" style="padding-bottom: 12vh; padding-top: 12vh;">
        <div class="mx-auto">
            <p class="lead" style="font-size: 2rem; font-weight: 500; text-align: center">
                Want to add your own Initiative?
                @if (!User.Identity.IsAuthenticated)
                {
                    <span>
                        <button class="btn" data-toggle="modal" data-target="#loginModal">Login to register your Initiative</button>
                    </span>
                }
                else
                {
                    <span>
                        <button class="btn" data-toggle="modal" data-target="#initiativeModal">Add your Initiative!</button>
                    </span>
                }
            </p>
        </div>
    </div>
    <div class="modal fade" id="initiativeModal" tabindex="-1" role="dialog" aria-labelledby="initiativeModallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form asp-action="PostInitiativeForm" asp-controller="Initiatives" method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #f44336; color: white;">
                        <h5 class="modal-title mx-auto text-center lead font-weight-bold" id="initiativeModalLabel">Add your Initiative</h5>

                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="returnUrl"
                               value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
                        <div class="form-group">
                            <label class="lead" asp-for="Name">Initiative Name</label>
                            <input type="text" class="form-control" placeholder="Enter your initiative's name"
                                   asp-for="Name"/>
                        </div>
                        <div class="form-group">
                            <label class="lead" asp-for="work">What do you do?</label>
                            <input type="text" class="form-control" asp-for="work" placeholder="Enter your work information">
                        </div>
                        <div class="form-group">
                            <label class="lead" asp-for="team">Who do you work with?</label>
                            <input type="text" class="form-control" asp-for="team" placeholder="Enter your team information">
                        </div>
                        <div class="form-group">
                            <label class="lead" asp-for="categoryId">Category Id</label>
                            <select class="form-control dropdown" asp-for="categoryId">
                                @for (var i = 1; i <= 9; i++)
                                {
                                    <option value="@i">@CategoryDict.Categories[i]</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="lead" asp-for="InitiativeAddress">Where do you work?</label>
                            <input type="text" class="form-control" asp-for="InitiativeAddress" placeholder="Enter your work place">
                        </div>
                        <div class="form-group">
                            <label class="lead" asp-for="phoneNumber">Phone Number</label>
                            <input type="text" class="form-control" asp-for="phoneNumber" placeholder="Enter your initiative's Phone Number"/>
                        </div>
                        <div class="form-group">
                            <label class="lead" asp-for="instagramLink">Instagram</label>
                            <input type="text" class="form-control" asp-for="instagramLink" placeholder="Enter your initiative's instagram link">
                        </div>
                        <div class="form-group">
                            <label class="lead" asp-for="facebookLink">Facebook</label>
                            <input type="text" class="form-control" asp-for="facebookLink" placeholder="Enter your initiative's facebook link"/>
                        </div>
                        <div class="form-group">
                            <label class="lead" asp-for="websiteLink">Website</label>
                            <input type="text" class="form-control" asp-for="websiteLink" placeholder="Enter your initiative's Website Link"/>
                        </div>
                        <div class="form-group">
                            <label class="lead" asp-for="imageUpload">Upload your Logo</label>
                            <input type="file" asp-for="imageUpload"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary lead" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary lead">Add your Initiative</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @*<div class="row" style="padding-bottom: 3vw;">
            <div class="col-7 mr-auto">
                <form asp-action="PostInitiativeForm" asp-controller="Initiatives" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="returnUrl"
                           value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <div class="form-group">
                        <label asp-for="Name">Initiative Name</label>
                        <input type="text" class="form-control" placeholder="Enter your initiative's name"
                               asp-for="Name" />
                    </div>
                    <div class="form-group">
                        <label asp-for="work">What do you do?</label>
                        <input type="text" class="form-control" asp-for="work" placeholder="Enter your work information">
                    </div>
                    <div class="form-group">
                        <label asp-for="team">Who do you work with?</label>
                        <input type="text" class="form-control" asp-for="team" placeholder="Enter your team information">
                    </div>
                    <div class="form-group">
                        <label asp-for="categoryId">Category Id</label>
                        <input type="number" class="form-control" asp-for="categoryId" placeholder="Category ID">
                    </div>
                    <div class="form-group">
                        <label asp-for="InitiativeAddress">Where do you work?</label>
                        <input type="text" class="form-control" asp-for="InitiativeAddress" placeholder="Enter your work place">
                    </div>
                    <div class="form-group">
                        <label asp-for="phoneNumber">Phone Number</label>
                        <input type="text" class="form-control" asp-for="phoneNumber" placeholder="Enter your initiative's Phone Number" />
                    </div>
                    <div class="form-group">
                        <label asp-for="instagramLink">Instagram</label>
                        <input type="text" class="form-control" asp-for="instagramLink" placeholder="Enter your initiative's instagram link">
                    </div>
                    <div class="form-group">
                        <label asp-for="facebookLink">Facebook</label>
                        <input type="text" class="form-control" asp-for="facebookLink" placeholder="Enter your initiative's facebook link" />
                    </div>
                    <div class="form-group">
                        <label asp-for="websiteLink">Website</label>
                        <input type="text" class="form-control" asp-for="websiteLink" placeholder="Enter your initiative's Website Link" />
                    </div>
                    <div class="form-group">
                        <label asp-for="imageUpload">Upload your Logo</label>
                        <input type="file" asp-for="imageUpload" />
                    </div>

                    <button type="submit" class="btn">Register</button>
                </form>

            </div>

        </div>*@
</div>