@{
    ViewData["Title"] = "ClubForms";
    Layout = "_AdminLayout";
}
@{
    int count = ViewBag.clubUsers.Count;
}
<table>
    @for (var i = 0; i < count;)
    {
        <tr>
            <td>
                @if (i < count)
                {
                    <div class="card" style="margin-left: 3vw; width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@ViewBag.clubUsers[i].UserName</h5>
                            <p class="card-text">
                                Class : @ViewBag.clubUsers[i].Class <br/>
                                Section : @ViewBag.clubUsers[i].Section <br/>
                            </p>
                        </div>
                    </div>
                }
            </td>
            <td>

                @if (i + 1 < count)
                {
                    <div class="card" style="margin-left: 3vw; width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@ViewBag.clubUsers[++i].UserName</h5>
                            <p class="card-text">
                                Class : @ViewBag.clubUsers[i].Class <br/>
                                Section : @ViewBag.clubUsers[i].Section <br/>
                            </p>
                        </div>
                    </div>
                }

            </td>
            <td>
                @if (i + 1 < count)
                {
                    <div class="card" style="margin-left: 3vw; width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@ViewBag.clubUsers[++i].UserName</h5>
                            <p class="card-text">
                                Class : @ViewBag.clubUsers[i].Class <br/>
                                Section : @ViewBag.clubUsers[i].Section <br/>
                            </p>
                        </div>
                    </div>
                }
            </td>
            <td>
                @if (i + 1 < count)
                {
                    <div class="card" style="margin-left: 3vw; width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@ViewBag.clubUsers[++i].UserName</h5>
                            <p class="card-text">
                                Class : @ViewBag.clubUsers[i].Class <br/>
                                Section : @ViewBag.clubUsers[i].Section <br/>
                            </p>
                        </div>
                    </div>
                }
            </td>
        </tr>
        i++;
    }
</table>