
@{ 
    Layout = "_AdminLayout";
}

@{
        int count = ViewBag.list.Count;
    }
     <table style="margin-left:2vw; margin-top:2vh;">
         @for(int i = 0; i<count; )
    {
       
            <tr>
                <td>
                    @if(i<count)
                    {
                        <div class="card" style="width: 18rem; margin-left:3vw;">
        <div class="card-body">
            <h5 class="card-title">@ViewBag.list[i].Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@ViewBag.list[i].Email<br/> @ViewBag.list[i].PhoneNumber</h6>
            <p class="card-text">
                <ul>
                    <li>Class : @ViewBag.list[i]._class</li>
                    <li>Section : @ViewBag.list[i].Section</li>
                    <li>House : @ViewBag.list[i].House</li>
                </ul>
                <br />
                <button class="btn" onclick="location.href='@Url.Action("UserInfoAsync", "UserAccount", new { e = ViewBag.list[i].Email })'">See User Info</button>
            </p>
        </div>
    </div>

                }
                </td>
                <td>
                    
                    @if((i + 1)<count)
                    {
                    <div class="card" style="width: 18rem; margin-left:3vw;">
        <div class="card-body">
            <h5 class="card-title">@ViewBag.list[++i].Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@ViewBag.list[i].Email <br/> @ViewBag.list[i].PhoneNumber</h6>
            <p class="card-text">
                <ul>
                    <li>Class : @ViewBag.list[i]._class</li>
                    <li>Section : @ViewBag.list[i].Section</li>
                    <li>House : @ViewBag.list[i].House</li>
                </ul>
                <br />
                <button class="btn" onclick="location.href='@Url.Action("UserInfoAsync", "UserAccount", new { e = ViewBag.list[i].Email })'">See User Info</button>
            </p>
        </div>
    </div>


                    }
                    
                </td>
                <td>
                    @if((i + 1)<count)
                    {
                        <div class="card" style="width: 18rem; margin-left:3vw;">
        <div class="card-body">
            <h5 class="card-title">@ViewBag.list[i].Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@ViewBag.list[i].Email <br/> @ViewBag.list[i].PhoneNumber</h6>
            <p class="card-text">
                <ul>
                    <li>Class : @ViewBag.list[i]._class</li>
                    <li>Section : @ViewBag.list[i].Section</li>
                    <li>House : @ViewBag.list[i].House</li>
                </ul>
                <br />
                <button class="btn" onclick="location.href='@Url.Action("UserInfoAsync", "UserAccount", new { e = ViewBag.list[i].Email })'">See User Info</button>
            </p>
        </div>
    </div>

                    }
                </td>
                <td>
                    @if((i + 1)<count)
                    {
                        <div class="card" style="width: 18rem; margin-left:3vw;">
        <div class="card-body">
            <h5 class="card-title">@ViewBag.list[i].Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@ViewBag.list[i].Email <br/> @ViewBag.list[i].PhoneNumber</h6>
            <p class="card-text">
                <ul>
                    <li>Class : @ViewBag.list[i]._class</li>
                    <li>Section : @ViewBag.list[i].Section</li>
                    <li>House : @ViewBag.list[i].House</li>
                </ul>
                <br />
                <button class="btn" onclick="location.href='@Url.Action("UserInfoAsync", "UserAccount", new { e = ViewBag.list[i].Email })'">See User Info</button>
            </p>
        </div>
    </div>

                    }
                </td>
            </tr>
            i++;
            
    }
     </table>
    

